@import './function';

$black = #000;
$white = #fff;

$blue-6     = #108ee9;
$purple-6   = #7265e6;
$cyan-6     = #00a2ae;
$green-6    = #00a854;
$pink-6     = #f5317f;
$red-6      = #f04134;
$orange-6   = #f56a00;
$yellow-6   = #ffbf00;

$color-primary      = $blue-6;    // #2db7f5;  // #0e90d2
$color-sub          = lighten($color-primary, 15%);
$color-info         = $blue-6;    // #5bc0de;
$color-success      = $green-6;   // #5cb85c;
$color-warning      = $yellow-6;  // #F37B1D;
$color-danger       = $red-6;     // #f04134;
$color-error        = $red-6;     // #f04134;
$color-highlight    = $red-6;     // #f04134;
$color-gray         = lighten($black, 87.5%);
$color-dark         = #393939;
$color-normal       = #d9d9d9;
$disabled-color     = #d9d9d9;
